{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Account Directory</h1>
            <a href="{{ url_for('index') }}" class="home-link">Home</a>
        </header>
        <div class="account-list">
            {% for account in accounts %}
            <div class="account-card">
                <ul>
                    <li><strong>ID:</strong> {{ account[0] }}</li>
                    <li><strong>First Name:</strong> {{ account[1] }}</li>
                    <li><strong>Last Name:</strong> {{ account[2] }}</li>
                    <li><strong>Phone Number:</strong> {{ account[3] }}</li>
                    <li><strong>Username:</strong> {{ account[4] }}</li>
                    <li><strong>SSN:</strong> {{ account[6] }}</li>
                    <li><strong>Balance:</strong> {{ account[7] }}</li>
                    <li><strong>Address:</strong> {{ account[8] }}</li>
                    <li><strong>Type:</strong> {{ account[9] }}</li>
                </ul>
            </div>
            <li><strong>password:</strong> {{ account[5] }}</li>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}