{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{{ url_for('index') }}" class="home-link">Home</a>
            <h1>Deposit Form</h1>
        </header>
        <div class="uni-form">
            <form method="POST">
                <input type="text" name="card_num" required placeholder="Card Number">
                <input type="date" name="date" required placeholder="Expiry Date">
                <input type="text" name="cvv" required placeholder="CVV">
                <input type="number" name="deposit" required placeholder="Deposit Amount">
                <input type="submit" value="Deposit">
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}