{% extends "base.html" %}
{% block content %}
    <div class="container">
        <header>
            <h1>My Account</h1>
            <a href="{{ url_for('deposit') }}" class="nav-item">Deposit</a>
            <a href="{{ url_for('transactions') }}" class="nav-item">Transactions</a>
            <form method="POST" action="/signout" class="nav-item signout">
                <button type="submit">Sign-Out</button>
            </form>
        </header>
        <div class="account-list2">
            <div class="account-card">
                <ul>
                    <li><strong>Account Number:</strong> {{ account_num[0] }}</li>
                    <li><strong>ID:</strong> {{ account[0] }}</li>
                    <li><strong>First Name:</strong> {{ account[1] }}</li>
                    <li><strong>Last Name:</strong> {{ account[2] }}</li>
                    <li><strong>Phone Number:</strong> {{ account[3] }}</li>
                    <li><strong>Username:</strong> {{ account[4] }}</li>
                    <li><strong>SSN:</strong> {{ account[6] }}</li>
                    <li><strong>Balance:</strong> {{ account[7] }}</li>
                    <li><strong>Address:</strong> {{ account[8] }}</li>
                    <li><strong>Type:</strong> {{ account[9] }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% if error %}
    <div>
        <h2>{{ error }}</h2>
    </div>
    {% endif %}
{% endblock %}